extends layout

block content
  
  if currentUser
    h1 Welcome back #{currentUser.firstname}
  else 
    h1 Welcome to Members Only!
    h2 Please 
      a(href='/users/log-in') log in 
      |or 
      a(href='/users/sign-up') sign up

  if results.posts
  each post in results.posts
    .post
      h3(class='post-title')= post.title
      div(class='post-message')= post.message
      div(class='post-info') Created #{post.post_time}
      if currentUser
        each user in results.users
          if(user.id == post.username)
            div(class='post-info') By #{user.firstname}
      else 
        div(class='post-info') By Annonymous
